@charset "gb2312";

.l_box h2 {
	padding-left: 20px;
	background: #fff;
	color: #333;
	font-size: 14px;
	line-height: 30px
}

.l_box div {
	overflow: hidden;
	margin-bottom: 20px;
	background: rgba(255,255,255,.5)
}

.l_box div ul {
	overflow: hidden;
	padding: 10px
}

.about_me img {
	width: 100%
}

.about_me p {
	font-size: 14px;
	line-height: 24px
}

.about_me i {
	float: left;
	clear: left;
	overflow: hidden;
	margin-right: 10px;
	width: 120px;
	height: 90px
}

.wdxc li {
	float: left;
	overflow: hidden;
	margin-right: 2px;
	margin-bottom: 2px;
	width: 32%;
	height: 80px
}

.wdxc li img {
	width: 100%;
	height: 100%;
	-webkit-transition: all .5s;
	-moz-transition: all .5s;
	transition: all .5s
}

.wdxc li img:hover {
	transform: scale(1.05)
}

.fenlei li {
	margin-bottom: 10px;
	margin-left: 10px
}

.tuijian li {
	overflow: hidden;
	margin-bottom: 5px;
	padding-left: 20px;
	background: url(../images/li.png) left center no-repeat;
	text-overflow: ellipsis;
	white-space: nowrap
}

.links a {
	float: left;
	display: block;
	margin: 0 10px 5px 0
}

.guanzhu img {
	width: 100%
}

.l_box .search {
	position: relative;
	border: 1px solid #000;
	border-radius: 0 5px 5px 0;
	background: #000
}

.search input.input_submit {
	position: absolute;
	top: 10px;
	right: 8%;
	outline: 0;
	border: 0;
	background: 0;
	color: #fff
}

.search input.input_text {
	padding-left: 10px;
	width: 72%;
	height: 36px;
	outline: 0;
	border: 0;
	line-height: 36px
}

.r_box li {
	overflow: hidden;
	margin-bottom: 20px;
	padding: 15px;
	background: rgba(255,255,255,.8);
	color: #797b7c
}

.r_box li h3 {
	text-shadow: #FFF 1px 1px 1px;
	font-size: 16px;
	line-height: 25px
}

.r_box li h3 a {
	color: #222
}

.r_box li h3 a:hover {
	color: #000;
	text-decoration: underline
}

.r_box li img {
	float: right;
	clear: right;
	width: 100%;
	-webkit-transition: all .5s;
	-moz-transition: all .5s;
	transition: all .5s
}

.r_box li i {
	float: right;
	display: block;
	overflow: hidden;
	margin-left: 20px;
	width: 150px;
	max-height: 100px
}

.r_box li p {
	display: -webkit-box;
	overflow: hidden;
	margin: 20px 0 0 0;
	text-overflow: ellipsis;
	line-height: 22px;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2
}

.r_box li:hover img {
	transform: scale(1.05)
}

.r_box li:hover h3 a {
	color: #19585d
}

.pagelist {
	clear: both;
	margin: 20px 0;
	padding-top: 20px;
	width: 100%;
	color: #666;
	text-align: center
}

.pagelist a {
	display: inline-block;
	margin: 0 2px 5px 2px;
	padding: 5px 10px;
	border: 1px solid #fff;
	background: #FFF;
	color: #666
}

.pagelist a:hover {
	color: #19585d
}

.pagelist>b {
	padding: 5px 10px;
	border: 1px solid #000
}

a.curPage {
	color: #19585d;
	font-weight: 700
}

.about {
	margin-bottom: 20px;
	padding: 20px;
	background: rgba(255,255,255,.8)
}

.about img {
	margin: 20px 0;
	width: 100%;
	max-width: 500px
}

.cloud ul a {
	float: left;
	display: block;
	margin: 10px 10px 0 0;
	padding: 3px 11px;
	height: 24px;
	border-radius: 8px;
	background: #999;
	color: #FFF;
	line-height: 24px;
	-webkit-transition: all .5s;
	-moz-transition: all .5s;
	-o-transition: all .5s;
	transition: all .5s
}

.cloud ul a:nth-child(8n-7) {
	background: #8A9B0F
}

.cloud ul a:nth-child(8n-6) {
	background: #EB6841
}

.cloud ul a:nth-child(8n-5) {
	background: #3FB8AF
}

.cloud ul a:nth-child(8n-4) {
	background: #FE4365
}

.cloud ul a:nth-child(8n-3) {
	background: #FC9D9A
}

.cloud ul a:nth-child(8n-2) {
	background: #EDC951
}

.cloud ul a:nth-child(8n-1) {
	background: #C8C8A9
}

.cloud ul a:nth-child(8n) {
	background: #83AF9B
}

.cloud ul a:first-child {
	background: #036564
}

.cloud ul a:last-child {
	background: #3299BB
}

.cloud ul a:hover {
	border-radius: 0;
	text-shadow: #000 1px 1px 1px
}

.picbox {
	overflow: hidden;
	width: 100%
}

.picbox ul {
	float: left;
	overflow: hidden;
	margin-right: 10px;
	width: 24%
}

.picbox ul li {
	display: block;
	margin: 0 0 20px 0;
	border: 1px #d9d9d9 solid;
	background: #FFF
}

.picbox ul li i {
	display: block;
	overflow: hidden;
	margin: 10px;
	height: auto
}

.picbox ul li img {
	width: 100%
}

.picinfo h3 {
	margin: 0 20px;
	padding: 10px 0;
	border-bottom: #ccc 1px solid;
	font-size: 16px
}

.picinfo span {
	display: block;
	padding: 10px 20px;
	color: #666
}

.picbox ul li a:hover {
	color: #19585d
}

.tags a {
	margin: 0 5px 0 0;
	padding: 3px 8px;
	background: #F4650E;
	color: #fff
}

.tags {
	margin: 10px 0
}

.infosbox img {
	width: 100%;
	height: auto;
	max-width: 100%
}

.share {
	padding: 20px
}

.nextinfo {
	overflow: hidden;
	margin: 20px 0;
	width: 100%;
	line-height: 24px
}

.nextinfo p {
	padding: 4px 10px;
	border-radius: 5px
}

.nextinfo a:hover {
	color: #000;
	text-decoration: underline
}

.news_pl {
	overflow: hidden;
	margin: 10px 0 20px 0;
	width: 100%
}

.news_pl h2 {
	padding-left: 10px;
	border-bottom: #000 2px solid;
	color: #000;
	font-size: 14px;
	line-height: 40px
}

.diggit {
	margin: auto;
	width: 160px;
	border-radius: 3px;
	background: #E2523A;
	box-shadow: 1px 2px 6px 0 rgba(0,0,0,.2);
	color: #fff;
	text-align: center;
	line-height: 40px
}

.diggit a {
	color: #fff
}

#diggnum {
	margin: 5px
}

.gbook {
	overflow: hidden;
	margin-bottom: 20px;
	background: #FFF
}

.gbox {
	overflow: hidden;
	padding: 20px
}

.gbox p {
	margin-bottom: 10px
}

p.fbtime {
	color: #000
}

.fbtime span {
	float: right;
	overflow: hidden;
	width: 70px;
	color: #999;
	white-space: nowrap;
	font-size: 12px
}

p.fbinfo {
	margin: 10px 0
}

.fb ul {
	margin: 10px 10px;
	padding: 10px 10px 10px 70px;
	border-bottom: #ececec 1px solid
}

.fb:nth-child(8n-7) ul {
	background: url(../images/tx10.jpg) no-repeat top 20px left 10px
}

.fb:nth-child(8n-6) ul {
	background: url(../images/tx9.jpg) no-repeat top 20px left 10px
}

.fb:nth-child(8n-5) ul {
	background: url(../images/tx8.jpg) no-repeat top 20px left 10px
}

.fb:nth-child(8n-4) ul {
	background: url(../images/tx7.jpg) no-repeat top 20px left 10px
}

.fb:nth-child(8n-3) ul {
	background: url(../images/tx6.jpg) no-repeat top 20px left 10px
}

.fb:nth-child(8n-2) ul {
	background: url(../images/tx5.jpg) no-repeat top 20px left 10px
}

.fb:nth-child(8n-1) ul {
	background: url(../images/tx4.jpg) no-repeat top 20px left 10px
}

.fb:nth-child(8n) ul {
	background: url(../images/tx3.jpg) no-repeat top 20px left 10px
}

.fb:first-child ul {
	background: url(../images/tx2.jpg) no-repeat top 20px left 10px
}

.fb:last-child ul {
	background: url(../images/tx1.jpg) no-repeat top 20px left 10px
}

.hf ul {
	padding: 10px 20px;
	background: #f9f9f9
}

.hf {
	margin: 0 20px;
	padding-bottom: 20px;
	border-bottom: #dedddd 1px dashed
}

textarea#lytext {
	width: 100%
}

.gbox input[type=submit] {
	float: right;
	display: block;
	padding: 0 20px;
	border: 0;
	border-radius: 5px;
	background: #040404;
	color: #fff;
	line-height: 30px
}

.ecomment {
	margin-bottom: 10px;
	padding: 10px;
	border: #dedcdc 1px solid
}

span.ecommentauthor {
	display: block;
	margin-bottom: 5px;
	color: #b5b5b5;
	font-size: 14px
}

.saying {
	color: #a9a6a6;
	line-height: 30px
}

.saying span {
	float: right
}

.saying span a {
	color: #de1513
}

img#plKeyImg {
	display: inline-block
}

.yname {
	margin: 10px 10px 10px 0
}

.yname span,.yzm span {
	padding-right: 10px
}

.yzm {
	margin: 0 10px 10px 0
}

#plpost input[type=submit] {
	float: right;
	display: block;
	padding: 0 20px;
	border: 0;
	border-radius: 5px;
	background: #303030;
	color: #fff;
	line-height: 30px
}

textarea#saytext {
	width: 100%
}

#plpost {
	margin: 0 20px
}
