*{
    margin: 0;
    padding: 0;
}


a{
    cursor: pointer;
    text-decoration: none;
}
a:link{
    color: black;
}

a:visited{
    color: #000;
}

a:hover{
    color:red;
    font-weight: bold;

}
a:active{
    color: rgb(172, 168, 168);
}

body{
    background-color: #efefef;
    font-size: 15px;
}
.header{
    width: 100%;
    height: auto;
    overflow: hidden;
    zoom: 1;
    background-color:rgba(255,255,255,.9);;
    box-shadow: 0 1px 1px rbg(0,0,0,0.04);
   
   
}

.header ul{
   
    list-style: none;
    text-align: center;
    line-height: 60px;
    border-bottom: 1px solid #ddd;
    font-size: 18px;
}

.header ul li{
    padding: 0 0 0 60px;
    float: left;
    cursor: pointer;
}

.logo{
    width: 480px;
    height: 60px;
    font-size: 22px;
}

.header a:link{
    text-decoration: none;
    color: black;
}
.header a:visited{
    color: inherit;
}
.header a:hover{
   font-weight: bold;
}

/* header---is--------end */


/* aritical----bagin--- */

.artical{
    width:70%;
    height: 5155px;
    position: relative;
    margin:0 auto;
}

.left{
    position: relative;
    width: 300px;
    height: auto;
    float: left;
}

.resume{
    margin-top: 20px;
    border: 1px solid #ddd;
    box-shadow: 0 0.5px 0.5px 0.5px rgb(219, 216, 216);
}

.resume h4{
    background-color: #fff;
    line-height: 30px;
    padding: 0 10px;
}
.resume p{
    padding: 10px;
}

/* 我的文章csdn */
.mySort{
    margin-top: 20px;
    border: 1px solid #ddd;
    box-shadow: 0 0.5px 0.5px 0.5px rgb(219, 216, 216);
}

.mySort strong{
    display: block;
    background-color: #fff;
    padding:5px 10px;
}

.mySort ul li{
    list-style-type: none;
    line-height: 25px;
    padding: 0 10px;
}



/* 我的文章csdn */

.introduce{
    margin-top: 20px;
    border: 1px solid #ddd;
    box-shadow: 0 0.5px 0.5px 0.5px rgb(219, 216, 216);
}


.introduce strong{
    display: block;
    background-color: #fff;
    padding:5px 10px;
}

.introduce ul li{
    list-style-type: none;
    line-height: 25px;
    padding: 0 10px;
}


/* 足球热点 */

.hotPoint{
    margin-top: 20px;
    border: 1px solid #ddd;
    box-shadow: 0 0.5px 0.5px 0.5px rgb(219, 216, 216);
}


.hotPoint strong{
    display: block;
    background-color: #fff;
    padding:5px 10px;
}

.hotPoint ul li{
    list-style-type: none;
    line-height: 25px;
    padding: 3px 10px;
}



/* lrft----end */


.right{
    width: 720px;
    height: 555px;
    position: relative;
    left: 20px;
    float: left;

}



.right ul{
    width: 100%;
    height: 100%;
    background-color: transparent;
    list-style: none;
}


.right ul li{
    width: 100%;
    height: 130px;
    margin-top: 20px;
    padding: 10px;
    background-color:#fff;
}
   

